.costs-item-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border: 1px solid #d3dfe6;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    div {
      padding: 4px 8px;
      width: 20%;
    }
  }

  &__comments {
    background: #edf7fc;
  }
}
