<div class="costs-item-container">
  <div class="costs-item-container__header">
    <div class="costs-item-container__header-name">{{ costItem?.name }}</div>
    <div class="costs-item-container__header-code">
      {{ costItem?.costItemAlias?.accountingCode }}
    </div>
    <div class="costs-item-container__header-quoted">
      <div>
        {{ selectedPaymentCurrencies?.toCurrency }} {{ quotedCost }}
      </div>
      <div class="converted-value">
        <app-cost-converted [costValue]="quotedCost"></app-cost-converted>
      </div>
    </div>
    <div class="costs-item-container__header-screened" [formGroup]="screenedCostForm">
      {{ selectedPaymentCurrencies?.toCurrency }} <input type="number" placeholder="screened cost" formControlName="screenedCost" />
      <div class="converted-value">
        <app-cost-converted [costValue]="screenedCostFromForm"></app-cost-converted>
      </div>
    </div>
    <div class="costs-item-container__header-messages">
      {{ commentsNumber }}
    </div>
  </div>
  <div class="costs-item-container__comments">
    <ng-container *ngFor="let comment of comments">
      <app-cost-comment [comment]="comment" (removeCommentEmitter)="removeComment($event)"
        (addCommentEmitter)="addComment($event)"></app-cost-comment>
    </ng-container>
    <ng-container *ngIf="comments.length > 0">
      <app-new-comment (addCommentEmitter)="addComment($event)"></app-new-comment>
    </ng-container>
  </div>
</div>
