<div class="costs-container">
  <div class="costs-container__header">
    <div class="costs-container__header-name">{{ cost?.name }}</div>
    <div class="costs-container__header-code">Account code</div>
    <div class="costs-container__header-quoted">Quoted</div>
    <div class="costs-container__header-screened">Screened</div>
    <div class="costs-container__header-messages"></div>
  </div>
  <div class="costs-container__content" [formGroup]="screenedCostsForm">
    <ng-container *ngFor="let costItem of cost?.costItems; let i = index">
      <app-cost-item
        [costItem]="costItem"
        [selectedPaymentCurrencies]="selectedPaymentCurrencies"
        *ngIf="getCostsFormArray(i) as screenedControl"
      >
        <div screenedCost *ngIf="screenedControl?.get('screenedCost')">
          {{ selectedPaymentCurrencies?.toCurrency }}
          <input
            type="number"
            placeholder="screened cost"
            [formControl]="$any(screenedControl?.get('screenedCost'))"
          />
        </div>
        <div screenedCostFromForm>
          <app-cost-converted
            [costValue]="$any(screenedControl?.get('screenedCost'))?.value"
          ></app-cost-converted>
        </div>
      </app-cost-item>
    </ng-container>
  </div>
  <app-cost-total
    [totalQuoted]="totalQuoted"
    [totalScreened]="totalScreenedForm"
    [selectedPaymentCurrencies]="selectedPaymentCurrencies"
  ></app-cost-total>
</div>
