.comment-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;

  &__type {
    width: 10%;
  }
  &__comment {
    width: 60%;
  }
  &__author {
    width: 10%;
  }
  &__date {
    width: 15%;
  }
  &__actions {
    width: 5%;
  }
}
