.costs-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  &__header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
